html {
    font-family: Verdana, sans-serif;
    background-color: #2C2C2C;
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #2C2C2C;
    scroll-behavior: smooth;
    color: lightgray;
    text-align: center;
}

.topnav {
    font-family: Verdana, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
    background-color: darkgreen;
    border-radius: 10px;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.25s ease, color 0.25s ease;
  
}

.navbar a:hover {
    color: black;
    background-color: lightgreen;
}

.navbar a:active {
    background-color: lightgray;
    color:black;
}

.circle-img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    object-fit: cover;
    outline: 5px groove darkcyan;
    transition: outline 0.1s ease;
}

.circle-img:hover {
    outline: 5px ridge darkgreen;
}

.description h1 {
    text-align: center;
    font-size: 50px;
    color: white;

}
.description p {
    text-align: center;
    font-size: 22px;
    color: lightgrey;
    padding-left: 5%;
    padding-right: 5%;
}

.highlight {
    font-weight: bold;
    transition: color 0.1s ease;
}

.highlight:hover {
    color: lightgreen;
}

.projects-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: lightgray;
    font-size: 3em;
    padding-bottom: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
}

.project-grid > div {
    border: 3px solid lightblue;
    border-radius: 10px;
}

.project-grid h2, a:link, a:visited {
    text-align: center;
    color: lightgray;
}

.project-grid a:hover {
    color: lightblue;
}

.project-grid p {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5%;
    padding-right: 5%;
}

.project-img {
    max-width: 60%;
    max-height: 80%;
    height: auto;
    justify-content: center;
}

.contactMe {
    padding-top: 25px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 12px;
    max-width: 75%;
}

.formObject {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

input:focus,
textarea:focus {
    border-color: #4a90e2;
    border: 3px;
    box-shadow: 0 0 0 3px darkcyan;
}

textarea {
    resize: vertical;
    font-family: Verdana, sans-serif;
}

button[type="submit"] {
    padding: .5rem;
    background-color: darkgray;
    color: black;
    border: none;
    border-radius: 6px;
    font-size: large;
    transition: background-color 0.2s ease, color 0.2s ease;
}

button[type="submit"]:hover {
    background-color: darkgreen;
    color: white;
}

button[type="submit"]:active {
    background-color: lightgreen;
    color: black;
}