html {
    font-family: Verdana, sans-serif;
    background-color: lightgray;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;

    background-color: darkgreen;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: left;
    padding-bottom: 15px;
    padding-top:15px;
}

.navbar a {
    color:white;
    font-size: 18px;
    padding: 15px;
    gap: 20px;
    list-style: none;
    font-weight: bold;
    transition: color 0.1s ease, background-color 0.1s ease;
}

.navbar a:hover {
    color: black;
    background-color: lightgreen;

}




.circle-img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    object-fit: cover;
    outline: 5px solid rgb(60, 60, 60);
    transition: outline 0.1s ease;
}

.description h1 {
    text-align: center;
    font-size: 50px;
    color: black;

}
.description p {
    text-align: center;
    font-size: 30px;
    padding-left:8%;
    padding-right:8%;
}

.highlight {
    font-weight: bold;
    transition: color 0.1s ease;
}

.highlight:hover {
    color: darkgreen;
}

